<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.5.9/vuetify.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/fomantic-ui/dist/semantic.min.css" />
      
<meta charset="utf-8">
</head>
<body>
<v-app>
	<v-dialog v-model="dialog.visible" max-width="600px">
	<v-card>
	<v-card-title>
		<span class="text-h1">Recherche</span>
	</v-card-title>
		<v-card-text>
    		<v-container>
    			<v-form v-model="valid">
    					<v-row>
    					<v-col cols="12" md="4">
    						<v-select v-model="search.espece" :items="especes" label="Espece" required></v-select>
    					</v-col>
    					<v-col cols="12" md="4">
        					<v-select v-model="search.race" :items="races" label="Race" required></v-select>
    					</v-col>
    					<v-btn :disabled="!valid" color="success" class="mr-4" @click="addOrUpdateUser()">Confirmer</v-btn>
    			</v-form>
    		</v-container>
		</v-card-text>
	</v-dialog>
</v-app>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.5.9/vuetify.min.js"></script>
<script>
var app = new Vue({
	 el: 'v-app',
	 vuetify: new Vuetify(),
	 data: {
	 especes:[],
	 races:[],
	 message: null,
	 dialog:{visible: false, mode:0},
	 search: {espece:"",race:""},
	 valid:false,
	 },
	 mounted(){
			this.loadEspeces();
			this.loadRaces();
	 },
	 methods:{
		 loadEspeces(){
				this.$http.get('/recherche').then((response)=>{
				this.especes=response.data;
				})
			},
			loadRaces(){
				this.$http.get('/recherche').then((response)=>{
				this.races=response.data;
				})
			},
	 }
})
</script>
{{{vue}}}
</body>
</html>